/* Estilos CSS en variables globales */
:root {
    --verde: #0e8b0e;
    --azul: #0c1c50;
    --rojo: rgb(255, 32, 32);
    --blanco: rgb(255, 255, 255);
    --negro: #000;
    --negroCl: rgb(21, 46, 23);
    --gris: gray;
    --naranja: rgb(214, 97, 18);
}

body {
    background-color: var(--negro);
}

/* Estilos para el encabezado */
header {
    background-color: var(--verde);
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estilos para la barra de navegación, si la usaria*/

nav {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--azul);

}

nav ul {
    padding-top: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--rojo);
}

/* Estilos para las tarjetas*/
.tarjetas {
    /* width: 100%; */
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tarjeta {
    background-color: var(--azul);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 280px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px var(--blanco);
    border-radius: 15px;
}

.titulo {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: -5px;
    color: var(--blanco);
    /* padding: 10px 10px 0 10px; */
}

.cuerpo {
    padding: 10px;
}

.cuerpo img {
    border-radius: 10px;
    height: 280px;
    width: 250px;
}

.pie {
    background: #6699ff;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    text-align: center;
}

.pie a {
    text-decoration: none;
    color: white;
}

.pie a:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: ""
}

.resultadoG {
    background-color: var(--negroCl);
    margin: 10%;
    margin-top: 50px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--verde);
}

h2 {
    color: var(--blanco);
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--blanco);
}

input[type="number"],
select,
button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: var(--negro);
    border: 2px solid var(--verde);
    color: var(--blanco);
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: var(--verde);
    color: var(--blanco);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--azul);
    font-weight: 700;
}

.result {
    margin-top: 10px;
    padding: 10px;
    padding-left: 50px;
    color: var(--blanco);
    background-color: var(--gris);
    border-radius: 5px;
}


/* Estilos para las secciones "Acerca de" y "Contacto" */
main {
    margin-top: 10px;
    margin: 3%;
    color: var(--blanco);
}

section {
    margin-bottom: 20px;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    border-radius: 20px;
    border: #1bb11b outset;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    position: fixed;
    bottom: 0;
    width: 98%;
}